@import '../variables';

.NewsList{
    .bg-img{
        background: linear-gradient(25deg, $lighterGrey, $lightestGrey);;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 35vh;
        min-height: 190px;
    }
    .news-info{
        margin-top: 1.25em;
        margin-bottom: 2em;
        a{
            h2{
                font-family: $serif;
                font-size: 1.625em;
                color: $grey;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                transition: color .25s ease;
                will-change: color;
                width: 90%;
                margin: auto;
            }
            &:hover h2{
                color: #000;
            }
        }
        small{
            font-size: 85%;
            color: $lighterGrey;
        }
        hr{
            border-top: 1px solid $lighterGrey;
            width: 10%;
        }
    }
}

@media (min-width: $md) {
    .NewsList{
        margin-top: 3em;
        margin-bottom: 3em;
        li{
            .bg-img{
                transition: all .45s ease;
                will-change: transform, box-shadow;
            }
            &:hover {
                .bg-img{
                    transform: scale(1.01);
                    -webkit-box-shadow: 0px 0px 10px 0px rgba(81,94,101,0.125);
                    -moz-box-shadow: 0px 0px 10px 0px rgba(81,94,101,0.125);
                    box-shadow: 0px 0px 10px 0px rgba(81,94,101,0.125);
                }
            }
        }
    }
}