// Typography
$serif: 'Unna', serif;
$sansSerif: 'Lato', sans-serif;

// Colors
$grey: #515E65;
$lighterGrey: #A2AEB6;
$lightestGrey: #F1F1F1;
$accent: #f3b700;
$select: #fcf113;

// Sizes for mediaqueries
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;